{% extends "modelo.html" %}

{% block title %}Cliente{% endblock %}

{% block content %}


<h1 style="text-align: center;">Crud Prdutos</h1>
<div class="container">
    <div>
        <a href="{{ url_for('produtos.addProduto') }}" style="text-align: center;">
            <input type="button" value="Cadastrar Produto" class="btn btn-success">
        </a>
        <div class="col-xs-12">
            <table class="table">
                <thead>
                <tr>
                    <th>Nome</th>
                    <th>Valor (R$)</th>   
                    <th>Imagem</th>                 
                  
                </tr>
                </thead>
                <tbody>
                {% for e in produto %}
                <tr>
                    <td>{{e.nome}}</td>
                    <td>{{e.valor}}</td> 
                    <td><img src="data:image/jpg;base64, {{e.image_str}} " height="100" width="100" /> </td>         
                  
                    <td>
                        <a href="{{ url_for('produtos.edit', id = e.id) }}">Editar</a> |
                        <a href="{{ url_for('produtos.delete', id = e.id) }}">Excluir</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}